.attr-syntax-color() { @syntax-color-attribute: #888; } .attr-syntax-color();

@import "ui-variables";
@import "syntax-variables";

.make-type-icon(@type, @color) {
   .@{type} {
      .icon {
         color: @color !important;
         background: fadeout(@color, 80%);
      }
   }
}

autocomplete-suggestion-list {

   .character-match {
    font-weight: normal !important;
  }

  .right-label {
    max-width: 100px !important; // NOTE this allows long author names
  }

  .make-type-icon(book, @syntax-color-attribute);
  .make-type-icon(chapter, @syntax-color-keyword);
  .make-type-icon(article-journal, @syntax-color-variable);

}

#citeproc-bibliography {
  padding: 0em;
  overflow: scroll;
  .citeproc-reference {
    &:nth-child(odd) {
      background-color: @pane-item-background-color;
    }
    padding: 0.6em;
    margin-bottom: 0.4em;
    .title {
      color: @text-color-subtle;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 2.8em;
      height: 2.8em;
      line-height: 1.4;
    }
    .cite {
      color: @text-color;
      .author {
        font-weight: bold;
      }
      .year {
        padding-left: 0.3em;
      }
      button {
        float: right;
        background-color: @tool-panel-background-color;
        color: @text-color-subtle;
        border: 1px solid @button-background-color-selected;
        border-radius: @component-border-radius;
        &:hover {
          background-color: @button-background-color-selected;
          color: @base-background-color;
        }
      }
    }
  }
}
